<H3>
 ABOUT:<br>
</H3>
<p>This page is developped in collaboration of three students at AIIT. <br>
Our names are Yokogawa, Murase, and Higashi.<br>
Higashi tried to wrote this about page, but for some reason, Japanese characters mess up the editor page, <br>
 so he's wrote this page in English.
<br></p><br>
<H3>
このページについて:<br>
</H3>
<p>このページはEnpitのプログラムの実習で作っているものです。
村瀬・横河・東の３人のグループプロジェクトです。
日本語はとりあえず、ホストで作ってコピペをしてみました。
<br>
</p>

