<p>自己紹介の更新</p>

<form action="editUser" method="POST"/>
<input type="text" name="full_name"/>
<input type="radio" name="belong" value="正科生"/> 正科生
<input type="radio" name="belong" value="科目履修生"/>  科目履修生
<input type="radio" name="belong" value=""/> 外部受講生
<input type="text" name="message" />
<input type="submit" value="更新"/>
</form>
